{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">

    <h3>Try a Search!</h3>
    <form action="search" method="POST">
      <div class="form-group">
        <label for="keywords">Enter some keywords</label>
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="puppy">
        <label for="startdate">Enter a start date</label>
        <input type="date" class="form-control" name="startday" id="startday">
        <label for="enddate">Enter a end date, note: it shoudl be after the start date</label>
        <input type="date" class="form-control" name="endday" id="endday">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  
  </div>

</div>    

{% endblock %}